<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Home | G&G</title>
    <!--Navbar-->
    <nav class="navbar navbar-light bg-light ">
        <div class="container">
            <span class="navbar-brand mb-0 h1 "><a href="../dating5">G&G</a></span>
        </div>
    </nav>
</head>