<!--
    Name: Joseph Igama
    Date: 03/04/2021
    Purpose: A registration system that will setup a dating classes with details provided by the user
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Home | G&G</title>
</head>
    <body>
        <!--Navbar-->
        <nav class="navbar navbar-light bg-light ">
            <div class="container">
                <span class="navbar-brand mb-0 h1 "><a href="../dating4">G&G</a></span>
            </div>
        </nav>

        <div class="container">
            <br>
            <!--2 Pane Grid-->
            <div class="row">
                <!--Column 1-->
                <div class="col">
                    <!--Heading + Subheading-->
                    <h1 class="text-center">Welcome to Gods & Goddesses</h1>
                    <p>Tired of being a lonely Immortal? Well tire no more!
                        This is your stop to meet other immortals residing in
                        <strong>Olympus</strong> and even in the <strong>Underworld</strong>!
                    </p>

                    <!--Quotes-->
                    <h3 class="text-center">Satisfied Customers of G&G</h3>
                    <hr>
                        <p style="text-indent: 3em"><em>"I met the love of my life without my powers." - Aphrodite</em></p>
                        <p style="text-indent: 3em"><em>"We dated cause of my dogs, Cerberus." - Zagreus</em></p>
                        <p style="text-indent: 3em"><em>"Shoutout to Cupid's arrow!" - Artemis</em></p>
                    <hr>

                    <!--Create Profile Button-->
                    <div class="text-center">
                        <a href="personal"><button class="btn btn-info" type="submit" >Create a Profile!</button></a>
                    </div>
                </div>

                <!--Column 2-->
                <div class="col">
                    <img src="images/dating1.png" class="rounded-lg">
                </div>
            </div>
        </div>
    </body>
</html>