<!--
    Name: Joseph Igama
    Date: 03/04/2021
    Purpose: A registration system that will setup a dating classes with details provided by the user
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile | G&G</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <!--Navbar-->
    <nav class="navbar navbar-light bg-light ">
        <div class="container">
            <span class="navbar-brand mb-0 h1 "><a href="../dating4">G&G</a></span>
        </div>
    </nav>

    <div class="container">
        <br>
        <h1>Profile</h1>
        <hr>

        <!--Form-->
        <form method="post" action="#">
            <div class="row">
                <div class="col">

                    <div class="form-group">
                        <label for="email"><strong>Email</strong></label>
                        <input type="text" class="form-control" name="email" id="email" placeholder="Email" value="{{ @email }}">
                        <div class="text-danger">
                            <!-- Inline error message -->
                            <check if="{{ isset(@errors['email']) }}">
                                {{ @errors['email'] }}
                            </check>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="state"><strong>State</strong></label>
                        <select class="form-control" name="state" id="state">

                            <!-- Displays on initial visit -->
                            <check if="{{ @state==NULL }}">
                                <option value="N/A">Select a State</option>
                                <option>Olympus</option>
                                <option>Underworld</option>
                            </check>

                            <!-- Displays if no option is selected -->
                            <check if="{{ @state=='N/A' }}">
                                <option value="N/A">Select a State</option>
                                <option>Olympus</option>
                                <option>Underworld</option>
                            </check>

                            <!-- Displays if Olympus is selected -->
                            <check if="{{ @state=='Olympus' }}">
                                <true>
                                    <option value="N/A">Select a State</option>
                                    <option selected>Olympus</option>
                                    <option>Underworld</option>
                                </true>
                            </check>

                            <!-- Displays if Underworld is selected -->
                            <check if="{{ @state=='Underworld' }}">
                                <option value="N/A">Select a State</option>
                                <option>Olympus</option>
                                <option selected>Underworld</option>
                            </check>
                        </select>

                    </div>

                    <div class="form-group">
                        <p><strong>Seeking</strong></p>

                        <!-- Displays on initial visit or if user chooses no preference -->
                        <check if="{{ @genderInterest==null || @genderInterest=='null' }}">
                            <true>
                                <input class="form-group" type="radio" name="genderInterest" id="No preference" value="null" checked>
                                <label class="form-group" for="No preference">No preference &nbsp&nbsp </label>
                            </true>
                            <false>
                                <input class="form-group" type="radio" name="genderInterest" id="No preference" value="null">
                                <label class="form-group" for="No preference">No preference &nbsp&nbsp </label>
                            </false>
                        </check>

                        <!-- Displays if user chooses god -->
                        <check if="{{ @genderInterest=='god' }}">
                            <true>
                                <input class="form-group" type="radio" name="genderInterest" id="god" value="god" checked>
                                <label class="form-group" for="god">God &nbsp&nbsp</label>
                            </true>
                            <false>
                                <input class="form-group" type="radio" name="genderInterest" id="god" value="god">
                                <label class="form-group" for="god">God &nbsp&nbsp</label>
                            </false>
                        </check>

                        <!-- Displays if user chooses goddess -->
                        <check if="{{ @genderInterest=='goddess' }}">
                            <true>
                                <input class="form-group" type="radio" name="genderInterest" id="goddess" value="goddess" checked>
                                <label class="form-group" for="goddess">Goddess &nbsp&nbsp</label>
                            </true>
                            <false>
                                <input class="form-group" type="radio" name="genderInterest" id="goddess" value="goddess">
                                <label class="form-group" for="goddess">Goddess &nbsp&nbsp</label>
                            </false>
                        </check>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="biography"><strong>Biography</strong></label><br>
                        <textarea class="form-group" name="biography" id="biography" rows="3">{{ @biography }}</textarea>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button class="btn btn-info" type="submit" >Next</button>
            </div>
        </form>
    </div>
</body>
</html>